.hdcolor2{background:#43843b !important}
.inhdcolor2{background:#559b4d !important}
.boxhdcolor2{background:#4b9349 !important;color:#fff}

.hdcolor3{background:#871D82 !important}
.inhdcolor3{background:#B026AA !important}

.hdcolor4{background:#4c66f5 !important}
.inhdcolor4{background:#3f51b5 !important}
.boxhdcolor4{background:#3F51B5 !important;color:#fff}

.hdcolor5{background:#E9962A !important}
.inhdcolor5{background:#f7a944 !important}
.boxhdcolor5{background:#e99629 !important;color:#fff}


.hdcolor6{background:#de306b !important}
.inhdcolor6{background:#c31751 !important}
.boxhdcolor6{background:#ce235d !important;color:#fff}


.hdcolor7{background:#de306b !important}
.inhdcolor7{background:transparent !important}
.boxhdcolor7{background:#ce235d !important;color:#fff}
